<!-- Modal -->

<!----date range Thesis ---->
<div class="modal fade" id="select_date" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Date: for Thesis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Custom date</label>
                    <input  type="date" class="form-control daterangeField " id="daterangeField" >
                    <small id="emailHelp" class="form-text text-muted">Select date</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="selectdateModal" onclick="setdateCustom()">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-----#select_date_serials ----->
<div class="modal fade" id="select_date_serials" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Date: for Serials</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Custom date</label>
                    <input  type="date" class="form-control daterangeFieldSS " id="daterangeFieldSS" >
                    <small id="emailHelp" class="form-text text-muted">Select date</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="selectdateModal" onclick="setdateCustomSS()">Save changes</button>
            </div>
        </div>
    </div>
</div>