<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
  }
  </style>










<div class="footer">
    <div class=" ">
      
      <!-- Footer -->
      <footer class="page-footer font-small ">
      
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/"> CBSUA LIBRARY </a> your learning Buddy!
          </div>
          <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
        
      
  </div>
  </div>
  
  
  
  <script src="/assets/jquery/dist/jquery.js"></script>
  <!--script src="/assets/node_modules/popper.js/dist/popper.js"></script-->
  
  
  <script src="/assets/@popperjs/core/dist/umd/popper.js"></script>
  <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>