<style>
    body{
        background-color: rgb(119, 133, 119) ;"
    }



</style>
<div class=" container  mt-3"  >
    <div class="row" >
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 ">
            <div class="card">
                <h5 class="card-header">Reserve Success</h5>
                <div class="card-body">
                    <div class="">
                        <div class="jumbotron">
                            <h1 class="display-4">Succes!</h1>
                            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                            </p>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>

</div>