<style>
    body{
        background-color: rgb(119, 133, 119) ;"
    }


    
</style>
<div class=" container  mt-3"  >
    <div class="row" >
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 ">
            <div class="card">
                <h5 class="card-header">Reserve A Room Now</h5>
                <div class="card-body">
                    <div class="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">STUDENT/EMPLOYEE NUMBER</span>
                            </div>
                            <input id="locateSidval" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            <div class="input-group-append">
                                <button id="locateSid" class="btn btn-success">Search</button>
                            </div>
                          </div>
                          
                    </div>
                 
                  
                    <form action="/bookroom" method="post">
                        <div class="card">
                            <h5 class="card-header">Clients Info</h5>
                            <div class="card-body">
                                <h5 class="card-title"><b>Name:</b> <span id="sname"  > Empty  </span></h5>
                                <p id="sCourse" class="card-text"></p>

                            </div>
                        </div>
                        <input id="snamei" name="sname" type="hidden" >
                        <input id="idnum" name="idnum" type="hidden" >
                        <input id="course" name="course" type="hidden" >


                        <div class="forreservation"  style="display: none">
                            <div class="form-group">
                                <label id="labelforitem" for="item" >Rooms</label>

                                <select class="form-control" id="room"  name="rooms">
                                    <option selected="">Choose ...</option>
                                    <option value="avr">Audio Visual Room</option>
                                    <option value="lecture">Lecture Room</option>
                                    <option value="discussion">Discussion Room</option>
                                </select>
                            </div>
                        
                        <!-- rooms reservation -->

                            <div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Date: </div>
                                    </div>
                                    <input type="date" class="form-control" id="" name="dateforreserv">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-4">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">From:</div>
                                        </div>
                                        <input type="time" class="form-control" id="" name="refrom">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">To:</div>
                                        </div>
                                        <input type="time" class="form-control" id="" name="reto">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="people" class="sr-only">People</label>
                                        <input type="text" class="form-control" id="people" placeholder="Number of Student:" name="people">
                                    </div>
                                </div>

                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Purpose:</span>
                                </div>
                                <textarea name="purpose" class="form-control" aria-label="With textarea" placeholder="Describe yourself here..."></textarea>
                            </div>

                            <div class="avr">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" >
                                    <label class="form-check-label" for="defaultCheck1">
                                        <p><b>Note!:</b>In Audio Visual Room a student capacity of 30-40 students only. Materials and equipment can be requested in this room are Sound System and Audio Visual Material if available.
                                            And all material brought inside this room should be your responsibility. To maintain cleanliness, all garbage accumulated within the hour of your accommodation is your responsibility.
                                            <b>For Strict Compliance!</b>
                                        </p>
                                    </label>
                                </div>
                            </div>
                            <button id="btnres" type="submit" class="btn btn-outline-success btn-block" disabled>Reserved</button>
                        </div>

                    </form>
                </div>
              </div>
        </div>
    </div>
   
</div>