<style>
    body{
        background-color: rgb(119, 133, 119) ;"
    }



</style>
<div class=" container  mt-5"  >
    <div class="row" >
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 ">
            <div class="card">
                <h5 class="card-header">Reserve Success</h5>
                <div class="card-body">
                    <div class="">
                        <div class="jumbotron">
                            <h1 class="display-4">Succes!</h1>
                            <p class="lead">Thank you!. If your reservation is ASAP you may go to the counter to follow up your reservation. </p>
                            <hr class="my-4">

                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="/bookroom" role="button">Home</a>
                            </p>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>

</div>