

<div class="card mt-5">
    <div class="card-header">
        AUTOLOG
    </div>
    <div class="card-body">
        <h5 class="card-title">LEARNING COMMONS</h5>
        <a <%= state  %> id="autolog" class="btn btn-block btn-outline-success">LLLog</a>
    </div>
</div>

<div id="patronlog" class="m-5 btn-group d-flex justify-content-center">

</div>